# Exclude files from Composer package distribution
/tests export-ignore
/.github export-ignore
/docs/development export-ignore
/docs/plan export-ignore
/node_modules export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/.editorconfig export-ignore
/phpunit.xml export-ignore
